body{
  margin: 200px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
}

button{
  background-color: red;
  font-family: Poppins;
  height: 45px;
  width: 100px;
  border-radius: 10px;
  margin: 20px;
  border: none;

}

.button1::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f0c808;
}